:root {
  --main-color: rgb(131, 26, 43);
  --bgcolor: #1a8362;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-image: url(../Images/background.jpg);
  background-repeat: no-repeat;
  color: black;
  transition: all 0.5 ease-in-out;
}
nav ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  list-style: none;
  font-size: 20px;
  padding: 30px;
  background-color: rgba(150, 150, 150, 0.3);
}
nav li {
  display: inline;
  padding-right: 20px;
}
a {
  text-decoration: none;
  padding: 5px;
  color: #000;
}
a:visited {
  color: inherit;
}
nav a:hover {
  color: rgb(168, 33, 55);
  box-shadow: 5px 10px 8px 5px rgb(0, 0, 0, 0.5);
  transition: all 0.3s;
  border-radius: 10px;
}
.about {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 131vh;
  color: white;
  padding-top: 25vh;
}
.about p:nth-child(1) {
  font-size: 50px;
}
.about p:nth-child(2) {
  font-size: 20px;
}
.about p:nth-child(3) {
  font-size: 80px;
  font-style: oblique;
}
.about p:nth-child(4) {
  font-size: 40px;
}
button {
  width: 140px;
  height: 42px;
  font-family: calibri;
  border-radius: 10px;
  cursor: pointer;
  margin: 40px 10px;
}
button.hire {
  background-color: var(--main-color);
  color: white;
  outline: none;
  border: none;
}
button:hover {
  box-shadow: 2px 2px 2px 8px rgb(0, 0, 0, 0.3);
}
button:active {
  transform: scale(1.1);
}
.intro-image {
  background-color: white;
  height: 420px;
  padding: 10px 10px 25px 10px;
  margin-top: -5%;
  -ms-transform: rotate(-8deg);
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
  margin-right: 50px;
}
.image-description {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 40px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
header {
  height: 40vh;
  padding-top: 25vh;
}
.project-tiles {
  display: grid;
  grid-template-columns: 40vw 55vw;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "todo todo-description"
    "wiki wiki-description"
    "time-table table-description";
  column-gap: 30px;
  row-gap: 30px;
  justify-items: center;
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-image: url(../Images/background5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
#todo {
  grid-area: todo;
}
#wiki-page {
  grid-area: wiki;
}
#time-table {
  grid-area: time-table;
}
#todo-description {
  grid-area: todo-description;
  align-self: center;
  max-width: 55vw;
}
#wiki-description {
  grid-area: wiki-description;
  align-self: center;
  max-width: 55vw;
}
#time-table-description {
  grid-area: table-description;
  align-self: center;
  max-width: 55vw;
}
.projectTile {
  display: inline-block;
  text-align: center;
  width: fit-content;
  background-color: #ddd;
  padding: 1% 2% 1% 1%;
  border-radius: 10px;
}
.projectTile img {
  width: 100%;
}
.projectName {
  display: block;
  text-align: center;
  color: var(--main-color);
  font-size: 30px;
}
.contact-div {
  width: 100%;
  padding: 10px 0;
  color: white;
  background-image: url(../Images/background5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.media-header {
  margin: 25px auto;
  padding-left: 20px;
}
.linkContainer {
  color: #fff;
  margin: 25px auto;
  padding-left: 20px;
}
a.media-link {
  font-size: 2rem;
  padding: 0.5rem;
}
#linkedin-link:hover {
  border-radius: 10%;
  background-color: #2867b2;
}
#insta-link:hover {
  border-radius: 10%;
  background: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
#github-link:hover {
  border-radius: 10%;
  background-color: #ddd;
  color: #211f1f;
}
#fb-link:hover {
  border-radius: 10%;
  background-color: #4267b2;
}
form {
  width: 50%;
  height: 80%;
  margin-left: 5%;
  margin-bottom: 10%;
  display: table;
}
.form-title {
  text-align: center;
  font-size: 150%;
  padding-bottom: 25px;
  text-decoration: underline;
}
form ul {
  list-style: none;
  font-size: 30px;
  margin: 20px 150px;
}
form li {
  color: #ddd;
}
legend {
  color: black;
  background-color: var(--main-color);
  font-size: 20px;
  padding: 3px 6px;
  margin-left: 10%;
}
label {
  display: table-cell;
}
input {
  display: table-cell;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 10rem;
  height: 1.5rem;
  border-radius: 7px;
  padding-left: 5px;
}
select#user-sex {
  width: 10rem;
  height: 1.5rem;
  border-radius: 7px;
  padding-left: 5px;
}
#sub-form {
  width: 140px;
  height: 42px;
  font-family: calibri;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 40px;
}
footer {
  padding: 10px 0;
  color: white;
  background-image: url(../Images/background5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
